global
  daemon
  maxconn 4096

defaults
  mode http
  timeout connect 5000ms
  imeout client 50000ms
  timeout server 50000ms

frontend http-in
  bind *:8000
  default_backend jsview
  acl is_stash path_beg -i /interface
  acl is_db path_beg -i /ordersDB
	
  use_backend mongodb if is_stash
  use_backend stasher if is_db

backend jsview
  mode http
  server front 172.17.0.1:80

backend mongodb
  mode http
  server mongo 172.17.0.1:91

backend stasher
  mode http
  server stash 172.17.0.1:2000